* {
  margin: 0;
  box-sizing: border-box;
}

.box {
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
}

.wrapper {
  width: 77%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header__logo {
  font-size: 36px;
  color: white;
  font-family: "Raleway", sans-serif;
}

.header__logo_color {
  color: orange;
}

.wrapper__menu {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 0;
  color: #ffffff;
  list-style: none;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}
.wrapper__menu li:hover {
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url(img/titleimg.png);
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.33) inset;
}

.wrapper__content {
  width: 50%;
}

.header__logo_fs-big {
  font-size: 56px;
  color: white;
  padding-bottom: 30px;
}

.line-nomargin {
  width: 74px;
  border: 1px solid white;
  margin-bottom: 30px;
}

.line {
  width: 74px;
  border: 1px solid white;
  margin: 30px auto;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  text-align: left;
  color: #ffffff;
  padding-bottom: 30px;
}

.text {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-align: left;
  color: #fff;
  padding-bottom: 30px;
}

.use {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  text-align: left;
  color: #ffff;
  padding: 10px 30px;
  background-color: transparent;
  border: 1px solid white;
}

.use:hover {
  color: red;
  cursor: pointer;
}

.form {
  width: 35%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  list-style: none;
  background: wheat;
  padding: 0;
  transition: transform 0.5s;
}

.form:hover {
  transform: scale(1.1);
  z-index: 100;
  background: #25bcff;
  box-shadow: 0 5px 25px rgba(238, 27, 27, 1);
  color: #fff;
}

.form__title {
  background: #f5f5f5;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  color: #333333;
  text-align: center;
  width: 100%;
  padding: 13px 0;
}

.form__title span {
  color: orangered;
}

.form__check {
  width: 100%;
  padding: 20px 20px 30px;
  background-color: white;
}

.form__check input {
  border: none;
  border-bottom: 1px solid #bdbdbd;
  font-size: 14px;
  text-align: left;
  font-family: "Raleway", sans-serif;
  color: #bdbdbd;
  width: 100%;
  padding-left: 10px;
  outline: none;
}

.use__form {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  text-align: left;
  color: #ffff;
  background-color: orangered;
  width: 100%;
  text-align: center;
}

.use__form button {
  background-color: transparent;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  text-align: center;
  color: wheat;
  border: none;
  padding: 20px 0;
  outline: none;
}
.use__form button:hover {
  cursor: pointer;
  color: red;
}

.navbar__under {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content_small-title {
  font-size: 20px;
  color: #333333;
  font-family: "Raleway", sans-serif;
  padding-bottom: 10px;
}

.content_text {
  font-size: 14px;
  color: #86878b;
  font-family: "Raleway", sans-serif;
  padding-bottom: 10px;
}

.wrapper__img {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* next block */

.awesome {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.awesome .text_fs-smal {
  text-align: center;
  padding: 0;
}

.awesome .wrapper {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  align-content: space-around;
  grid-gap: 20px;
}

.black {
  color: black;
  text-align: center;
  padding: 20px 0;
}

.color {
  border: 1px solid orange;
}

.text_fs-smal {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  text-align: left;
  color: #86878b;
  padding-bottom: 30px;
}

.wrapper__card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 20% 1fr;
  align-items: center;
  justify-items: center;
  background: #fff;
  text-align: center;
  padding: 40px 0;
}

.around__background-lampochka {
  width: 70px;
  height: 70px;
  border: solid 2px #ff8b38;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-image: url(/img/lampocha.png);
  background-position: center;
}

.around__background-square {
  width: 70px;
  height: 70px;
  border: solid 2px #ff8b38;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-image: url(/img/kvadrat.png);
  background-position: center;
}

.around__background-klava {
  width: 70px;
  height: 70px;
  border: solid 2px #ff8b38;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-image: url(/img/klava.png);
  background-position: center;
}

.wrapper__card__card-title {
  font-size: 20px;
  text-align: center;
  color: #333333;
  font-family: "Raleway", sans-serif;
}

.wrapper__card__card-text {
  font-size: 18px;
  text-align: center;
  color: #86878b;
  font-family: "Raleway", sans-serif;
}

/* next box */

.price {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #f5f5f5;
  padding: 40px 0;
}

.cardprise {
  align-items: flex-end;
}

.card__content {
  padding: 10px;
  list-style: none;
  text-align: center;
  width: 32%;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
}

.card__content:hover {
  transform: scale(1.1);
  z-index: 100;
  background: #f5b607;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.card__content_line-title {
  background-color: black;
  border-bottom: 1px solid white;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  padding: 8px 0;
}

.card__content_line-head {
  background-color: black;
  border-bottom: 1px solid white;
  font-size: 20px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  padding: 10px 0;
}

.wrap__price {
  font-size: 46px;
  text-align: center;
}

.card__content_line-border-color {
  background-color: black;
  font-size: 14px;
  font-style: italic;
  color: #86878b;
  font-family: "Open Sans", sans-serif;
  padding: 8px 0;
  border-bottom: 3px solid orange;
}

.card__content__line_bg-color {
  background: orange;
  color: #ffffff;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  padding: 8px 0;
}

.card__content_line-footer {
  background-color: white;
  color: #86878b;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding: 8px 0;
  border-bottom: 1px solid #f5f5f5;
}

/* dis image */

.disign {
  background-image: url(img/imagefon.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.33) inset;
  padding: 20px 0;
}

.disign__use {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  text-align: left;
  color: #ffff;
  padding: 10px 30px;
  background-color: transparent;
  border: 1px solid white;
  margin: 40px auto;
}

.disign__use:hover {
  cursor: pointer;
  color: red;
}

.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.wrapper__form {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.contact__form__name {
  width: 90%;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  color: #bdbdbd;
  padding: 30px 0 3px 20px;
  outline: none;
}

.bigform {
  width: 40%;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  color: #bdbdbd;
  padding-bottom: 105px;
  outline: none;
  resize: none;
}

.contact__form__send {
  margin: 40px auto;
  padding: 10px 50px;
  background-color: orange;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
  outline: none;
  border: orange;
  border-radius: 3%;
}

.contact__form__send:hover {
  cursor: pointer;
  color: black;
}

.under__img {
  width: 100%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.under__img_svg {
  display: flex;
  justify-content: space-around;
  width: 30%;
  padding: 20px;
}

.footer__text {
  font-size: 20px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  padding-bottom: 20px;
  text-align: center;
}

@media all and (max-width: 575.98px) {
  .media {
    display: flex;
    flex-direction: column;
  }
  .wrapper__menu {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .wrapper__menu li {
    border: 1px solid orange;
    border-radius: 5%;
    padding: 5px 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 7px;
  }
  .navbar {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .navbar .wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .wrapper__content {
    width: 100%;
  }
  .header__logo_fs-big {
    width: 100%;
    text-align: center;
  }
  .title {
    width: 100%;
    text-align: center;
  }
  .line-nomargin {
    margin: 0 auto 30px;
  }
  .text {
    text-align: center;
  }
  .use {
    margin-bottom: 30px;
  }
  .form {
    width: 60%;
  }
  .navbar__under .wrapper {
    display: flex;
    flex-direction: column;
  }
  .content_small-title {
    text-align: center;
  }
  .awesome {
    display: grid;
    grid-template-columns: 1fr;
  }
  .awesome .wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .cardprise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card__content {
    width: 70%;
  }

  .wrapper__form {
    width: 100%;
  }
  .contact__form__name {
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  .bigform {
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navbar {
    height: 100%;
  }

  .media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .wrapper__menu {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .wrapper__menu li {
    border: 1px solid orange;
    padding: 7px 14px;
    text-align: center;
    margin: 5px;
    border-radius: 5%;
  }
  .wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wrapper__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  .header__logo_fs-big {
    text-align: center;
  }
  .title {
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
  }
  .text {
    font-size: 14px;
    padding: 20px 0;
    text-align: center;
  }
  .form {
    width: 60%;
  }

  .awesome .wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cardprise {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card__content {
    width: 40%;
  }
}
